//FONT MIXINS
.ffamily(@font) {
	font-family: @font;
}
.ffamily(@font, @size) {
	.ffamily(@font);
	font-size: @size;
}
.ffamily(@font, @size, @weight) {
	.ffamily(@font, @size);
	font-weight: @weight;
}
.optimize-text() {
    text-rendering: optimizeLegibility;
}

// POLYFILLS
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}

// CONSTRUCTION MIXINS