/*   
Theme Name: _Seed (A barebones WP theme for Bedrock)
Theme URI: https://bitbucket.org/Sooricatz/_seed/
Author: Guillaume Mutschler
Author URI: http://guillaumemutschler.eu/
Version: 0.9
*/


// Imports
@import "vars";
@import "mixins";
@import "reset";


// GLOBAL STYLING
////////////////////
body { .ffamily(@font-serif, 14px, 400); line-height: 1.4em; color: @text-color; background-color: #fff;}

html,body {height: 100%; width: 100%;}

a { color: @link-color; }
a:hover { color: @link-h-color; }

strong {font-weight: bold;}
em {font-style: italic;}
del {text-decoration: line-through;}

h1, h2 { color: @title-color; font-size: 1.2em;}


// GLOBAL LAYOUT
////////////////////
.wrapper {
		width: 74.3em;
		margin: 0 auto;
}
header[role="banner"],
main[role="main"] {
	min-width: 91.2em;
}

// HEADER
////////////////////
header[role="banner"] {
	padding: 2.1em 0 1.6em 0;

	.wrapper {

	}
}
.header-logo a {
	display: block;
	line-height: 0;
}


#hamburger-menu {
	display: none;
}
.main-nav {
	color: @title-color;
	.ffamily(@font-sans);
	.optimize-text;

	a {
		color: #fff;
		display: inline-block;
		text-transform: uppercase;
		padding: 1em;
		line-height: 1em;
		vertical-align: middle;
	}
}


// CONTENT (Ok, this is where the fun starts.)
////////////////////


// FOOTER
////////////////////
#footer {
}

@import "post-text";
//@import "media-queries";