// FONTS
////////////
	
	@font-serif: Times, Times New Roman, 'Times New Roman', serif; 
	@font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;


// COLORS
////////////

	// General colors
	@title-color: 	#AF2800;
	@text-color: 	#000000;
	@link-color: 	@title-color;
	@link-h-color: 	@title-color;

	// Template colors
	@box-color: #F2F2F2;
	@border-color: #000;
