/*   
Theme Name: _Seed (A barebones theme for Bedrock)
Theme URI: https://bitbucket.org/Sooricatz/_seed/
Author: Guillaume Mutschler
Author URI: http://guillaumemutschler.eu/
Version: 0.1
*/
/*
	
	Stripped down CSS Reset, limited to the most common elements.
	Based on the HTML5 Reset Wordpress Theme :: https://github.com/murtaugh/HTML5-Reset-Wordpress-Theme

	If you need to add some specific elements (pre, bloquotes/q, input/textarea/select/label,tables,etc.), please visit: https://github.com/murtaugh/HTML5-Reset-WordPress-Theme/blob/master/reset.css

*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
small,
big {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}
/* Prevent Webkit and Windows Mobile platforms from changing default font sizes */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
select {
  margin: 0;
}
input[type="submit"] {
  cursor: pointer;
}
ol,
ul {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
}
/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: Times, Times New Roman, 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4em;
  color: #000000;
  background-color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
a {
  color: #af2800;
}
a:hover {
  color: #af2800;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
h1,
h2 {
  color: #af2800;
  font-size: 1.2em;
}
.wrapper {
  width: 74.3em;
  margin: 0 auto;
}
header[role="banner"],
main[role="main"] {
  min-width: 91.2em;
}
header[role="banner"] {
  padding: 2.1em 0 1.6em 0;
}
.header-logo a {
  display: block;
  line-height: 0;
}
#hamburger-menu {
  display: none;
}
.main-nav {
  color: #af2800;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
.main-nav a {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  padding: 1em;
  line-height: 1em;
  vertical-align: middle;
}
.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 {
  font-weight: bold;
  letter-spacing: -0.005em;
}
.entry h1 {
  font-size: 2.8em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: .9em;
}
.entry h2 {
  font-size: 1.4em;
  margin: .9em 0;
}
.entry h3 {
  font-size: 1em;
  margin: .6em 0;
  text-transform: uppercase;
}
.entry h4,
.entry h5,
.entry h6 {
  margin: 0.5em 0;
  font-size: 1em;
}
.entry img {
  max-width: 100%;
  height: auto;
}
.entry p {
  line-height: 1.6em;
  letter-spacing: -0.005em;
  margin: 0 0 1.6em 0;
  font-size: 0.95em;
}
.entry p a {
  text-decoration: underline;
}
.entry ul,
.entry ol {
  counter-reset: the_counter;
  list-style: none;
  padding: 0;
  margin: 0;
}
.entry ul li,
.entry ol li {
  line-height: 1.8em;
  letter-spacing: -0.005em;
  font-size: 1em;
  padding-left: 3em;
}
.entry ul li:before {
  content: "• ";
  margin-left: -1.7em;
  margin-right: 1em;
  font-size: 1.1em;
  line-height: 1.6em;
  vertical-align: middle;
}
.entry ol li:before {
  content: counter(the_counter) '.';
  counter-increment: the_counter;
  margin-left: -4.5em;
  margin-right: 1.4em;
  width: 3em;
  vertical-align: middle;
  display: inline-block;
  text-align: right;
}
.entry address {
  line-height: 1.4em;
  letter-spacing: -0.005em;
  margin: 1.4em 0;
  font-weight: 500;
  font-size: 0.95em;
  font-style: italic;
}
.entry blockquote {
  font-style: italic;
  font-size: 1em;
  padding-left: 2.8em;
  padding-right: .5em;
  margin: 1.6em 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  quotes: "\201C" "\201D" "\2018" "\2019";
  position: relative;
}
.entry blockquote:before {
  content: open-quote;
  font-size: 4.8em;
  font-weight: 700;
  display: inline;
  position: absolute;
  left: 0;
  top: 0.2em;
}
.entry pre {
  width: 100%;
  overflow-x: auto;
  font-family: Monaco, Lucida Console, Courier New, monospace, serif;
  background-color: #EEE;
  padding: 1em 0.7em;
  margin: 1.6em 0;
  font-size: 0.9em;
  outline: #DEDEDE solid 1px;
}
.entry hr {
  border: none;
  margin: 2.1em 0;
  border-bottom: 1px solid #DEDEDE;
}
.entry :first-child {
  margin-top: 0;
}
.entry :last-child {
  margin-bottom: 0;
}
